body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:lavender;
}


div {
    /* border: 0px solid red; */
}

.square {
    background-color: white;
    margin: 0;
}


.container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    padding: 0;
    background-color: black;
}

